.profile__button-edit {
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../../images/pen.svg);
    background-position: center;
    background-size: 10px;
    background-repeat: no-repeat;
    border: 1px solid #FFFFFF;
    transition: 0.1s linear;
    cursor: pointer;
  }
  
  .profile__button-edit:hover {
    opacity: 0.5;
  }
  
  @media screen and (max-width: 767px) {
    .profile__button-edit {
      width: 18px;
      height: 18px;
      background-size: 8px;
    }
  }