.popup__input {
  padding-bottom: 12px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 17px;
}

.popup__input::placeholder {
  color: #c4c4c4;
}
